[defaults]
inventory = ./hosts.ini
remote_user = ubuntu
private_key_file = ../terraform/jenkins-server.pem

# we need to add this, otherwise the message will be shown: Are you sure you want to continue connecting (yes/no/[fingerprint])?
host_key_checking = ~/.ssh/known_hosts
